* {
  margin: 0;
  padding: 0;
}

body {
  width: 960px;
  margin: 0 auto;
  font-family: sans-serif;
  background-color: #e8e9ef;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

main>header {
  width: 100%;
  height: 4em;
  padding: 0 1em;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #172132;
  color: rgb(220, 220, 220);
  box-sizing: border-box;
}

article {
  width: 100%;
}

article>header {
  margin: 1em 0 0.5em;
  font-weight: 600;
  font-size: 1.3em;
}

nav>ul {
  display: flex;
  margin-bottom: 1.2em;
  column-gap: 1.8em;
}

nav li {
  list-style: none;
  padding: 0.3em 1.8em;
  border: 1px solid black;
  border-radius: 7%;
}

li.green {
  background-color: green;
  color: white;
}

li.green>a {
  color: white;
}

a {
  text-decoration: none;
}

table {
  width: 100%;
  border-collapse: collapse;
  background-color: white;
}

th,
td {
  text-align: center;
  font-size: 1.3em;
  padding: 0.5em;
  border-bottom: 1px solid grey;
}

table tr:nth-child(1) {
  background-color: #172132;
  color: rgb(220, 220, 220);
}

tr:hover {
  background-color: aliceblue;
}

th {
  font-weight: 200;
}

.warning {
  width: 100%;
  text-align: right;
}

footer.msg {
  font-size: 2em;
  color: #172132;
  margin-top: 1em;
}